
html {
    scroll-behavior: smooth; 
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#feeeda;
    margin: 0 auto;
}
html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    margin: 0px auto;
    margin-left: 0px;
}
.main-container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section {
    width: 80%;
    margin-bottom: 60px;
    margin-left: 30px;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}
.nav {
    display: flex;
    color:#ffffff;
    text-decoration: none;
    background-color: #836551;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-item {
    flex: 1;
}

.profile-image {
      border-radius: 25px;
      border: 10px solid #feeeda;
      margin-right: 30px;
}
      
.link {
    display: flex;
    color: #f5f5dc;
    text-decoration: none;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;  
    transition: color .4s;    
}

.link:hover {
    color: #442b2b;
}

.section-title {
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #000000;
    text-decoration: underline;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.main-name {
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    font-weight:700px;
}
  
.contact-list {
    margin-left: 0px;
    margin-right: 40px;
}

.contact-item {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.contact-item::before {
    content:'';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: no-repeat center / contain;
}
.contact-mail::before {
    background-image: url(./icons/email.svg) ;
}

.contact-github::before {
    background-image: url(./icons/github.svg);
}

.contact-number::before {
    background-image: url(./icons/phone.svg);
}

.contact-discord::before {
    background-image: url(./icons/discord.svg); 
}


.list-dot::before {
    content: '\2022';
    margin-right: 5px;
    color:#4a2c18;    
}

.left-side {
    background-color: #c1a78a;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paragraph {
    margin-bottom: 2px;
    font-size: 20px;
}

.footer-container {
    display:flex;
    align-items:center;
    justify-content:space-around ;
    color: #f5f5dc;
    padding: 7px 0;
    background-color: #836551;
}
.github-link {
    color: #f5f5dc;
    text-decoration: none;
}

.github-link::before {
    content: '';
    background: url(./icons/github.svg) center / contain no-repeat;
    width: 20px;
    height: 20px;   
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.rss-link {
    width: 80px;
    height: 30px;    
}
.profile-name {
    margin: 15px 0;
    text-align: center;
}
.footer {
    background-color: #836551;
}