.font{
font-family: 'Nuosu SIL', serif;
}
.page-body {
background-color:bisque;
min-height: 100%;
margin: 0 auto;
padding: 0;
}

.left-side {
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(rgb(54, 5, 5), green, blue);
}

.nav{
    display: flex;
    justify-content: space-between;
}
